.background-section {
  background: #131315;
  // padding-top: 1rem;
  // margin-top: 1.5rem;
}

.background-container {
  width: 1000px;
  margin: 0 auto;
  // margin-top: 1rem;
  background: #131315;
  padding-top: 1rem;
  // margin-top: 1.5rem;
}

.background-grid {
  display: grid;
  grid-template-areas:
    "first first first first second"
    "bottom bottom bottom  bottom  bottom";
  gap: 15px;
}