@mixin content-item(
  $content-item,
  $title-weight,
  $title-size,
  $img-width,
  $img-height: 100%
) {
  .content-item {
    width: $content-item;
    margin-bottom: 1rem;

    .content-image {
      width: 100%;

      .content-img {
        object-fit: cover;
        width: 100%;
        height: $img-height;
      }
    }

    .content-body {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      .content-tag {
        width: max-content;
        font-style: italic;
        font-weight: 600;
        color: #000;
        margin-top: 5px;
      }

      .content-title {
        font-size: $title-size;
        font-weight: $title-weight;
        color: #131315;
      }

      .content-by {
        display: flex;
        justify-content: row;
        justify-content: center;
        align-items: center;

        .content-by-by {
          color: #afafaf;
          margin-right: 5px;
          font-size: 13px;
        }

        .content-by-title {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;
          margin-right: 10px;

          .content-by-user {
            width: 13px;
            margin-right: 2px;
          }
        }

        .content-by-date {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;

          .content-by-calendar {
            width: 12px;
            margin-right: 2px;
          }
        }
      }

      .content-content {
        display: block;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 400;
        margin: 10px 0 7px;
        inline-size: 100%;
      }
    }
  }
}

@mixin content-item-list(
  $content-item,
  $title-weight,
  $title-size,
  $img-height: 100%
) {
  .content-item {
    width: $content-item;
    // margin-bottom: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 14px);
    // flex-basis: 32%;

    &:nth-child(3n + 3) {
      margin-left: 0;
    }

    .content-image {
      width: 100%;

      .content-img {
        width: 100%;
        object-fit: cover;
        height: $img-height;
      }
    }

    .content-body {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      .content-tag {
        width: max-content;
        font-style: italic;
        font-weight: 600;
        color: #000;
        margin-top: 5px;
      }

      .content-title {
        font-size: $title-size;
        font-weight: $title-weight;
        color: #131315;
      }

      .content-by {
        display: flex;
        justify-content: row;
        justify-content: center;
        align-items: center;

        .content-by-by {
          color: #afafaf;
          margin-right: 5px;
          font-size: 13px;
        }

        .content-by-title {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;
          margin-right: 10px;

          .content-by-user {
            width: 13px;
            margin-right: 2px;
          }
        }

        .content-by-date {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;

          .content-by-calendar {
            width: 12px;
            margin-right: 2px;
          }
        }
      }

      .content-content {
        display: block;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 400;
        margin: 10px 0 7px;
        inline-size: 100%;
      }
    }
  }
}

@mixin content-item-grid(
  $content-item,
  $title-weight,
  $title-size,
  $img-height: 100%,
  $align-items: start,
  $margin-bottom: 1.5rem
) {
  .content-item {
    display: flex;
    width: $content-item;
    align-items: $align-items;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 14px);
    // flex-basis: 32%;
    margin-bottom: $margin-bottom;

    &:nth-child(3n + 3) {
      margin-left: 0;
    }

    .content-image {
      margin-right: 1rem;
      width: 30%;

      .content-img {
        width: 100%;
        object-fit: cover;
        height: $img-height;
      }
    }

    .content-body {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .content-tag {
        width: max-content;
        font-style: italic;
        font-weight: 600;
        color: #000;
        margin-top: 5px;
      }

      .content-title {
        font-size: $title-size;
        font-weight: $title-weight;
        color: #131315;
      }

      .content-by {
        display: flex;
        justify-content: column;
        justify-content: center;
        align-items: center;

        .content-by-by {
          color: #afafaf;
          margin-right: 5px;
          font-size: 13px;
        }

        .content-by-title {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;
          margin-right: 10px;

          .content-by-user {
            width: 13px;
            margin-right: 2px;
          }
        }

        .content-by-date {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;

          .content-by-calendar {
            width: 12px;
            margin-right: 2px;
          }
        }
      }

      .content-content {
        display: block;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 400;
        margin: 10px 0 7px;
        inline-size: 100%;
        text-align: justify;
      }
    }
  }
}

@mixin content-item-lazyload(
  $content-item,
  $title-weight,
  $title-size,
  $img-height: 100%
) {
  .content-item {
    margin-bottom: 1rem;
    background-color: #f7f8fa;

    width: calc(50% - 1rem);

    // &:nth-child(3n + 3) {
    //   margin-left: 0;
    // }

    .content-image {
      // margin-right: 1rem;
      width: 100%;

      .content-img {
        width: 100%;
        object-fit: cover;
        height: $img-height;
      }
    }

    .content-body {
      padding: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      .content-tag {
        width: max-content;
        font-style: italic;
        font-weight: 600;
        color: #000;
        margin-top: 5px;
      }

      .content-title {
        font-size: $title-size;
        font-weight: $title-weight;
        color: #131315;
      }

      .content-by {
        display: flex;
        justify-content: column;
        justify-content: center;
        align-items: center;

        .content-by-by {
          color: #afafaf;
          margin-right: 5px;
          font-size: 13px;
        }

        .content-by-title {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;
          margin-right: 10px;

          .content-by-user {
            width: 13px;
            margin-right: 2px;
          }
        }

        .content-by-date {
          display: flex;
          justify-content: center;
          color: #aaa;
          font-size: 12px;
          margin-top: auto;

          .content-by-calendar {
            width: 12px;
            margin-right: 2px;
          }
        }
      }

      .content-content {
        display: block;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 400;
        margin: 10px 0 7px;
        inline-size: 100%;
        text-align: justify;
      }
    }
  }
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
