@use "../../../../assets/scss/mixins/_mixins.scss" as *;

.first-section-container {
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 1.5rem;
}

.first-section {
  display: grid;
  grid-template-areas: "left left left left left right";
  gap: 1rem;

  .first-left {
    grid-area: left;
    width: 100%;
    align-self: stretch;

    @include content-item(100%, 800, 1.5rem, 100%);
  }

  .first-right {
    grid-area: right;
    width: 100%;
    align-self: stretch;

    @include content-item(250px, 700, 1rem, 250px, 150px);
  }
}
